In [376]:
import csv 
import json 
import pandas as pd

In [377]:
#Ignored/Not used, not sure if needed to introduce a Hateaos REST approach. 
#from flask import Flask 
#from flask_restplus import Resource, Api
#app = Flask("AnalyzedData")

#@app.route('/analyzed') 
#@api.doc(params={})
#class AnalyzedData(Resource):
#    def get():
#        return eventdata.json 
#    
#if __name__== "__main__": 
#   app.run(host=HOSTNAME, debug=True)

In [378]:
df = pd.read_csv(r'./eventDump.csv')
df

,_id,Users,Type
0,ObjectId(5df172e2cd46ec15c3fbe987),"[{""$oid"":""5df204961d448316e0c69998""},{""$oid"":""...",PARTY
1,ObjectId(5df20b9e1d448316e0c6999d),"[{""$oid"":""5df204961d448316e0c69998""},{""$oid"":""...",MEETING
2,ObjectId(5df20f0e1d448316e0c699a4),"[{""$oid"":""5df204961d448316e0c69998""},{""$oid"":""...",PARTY
3,ObjectId(5df20fc11d448316e0c699a5),[],LECTURE
4,ObjectId(5df230123044cc4f089cfa06),"[{""$oid"":""5df204961d448316e0c69998""},{""$oid"":""...",LECTURE
5,ObjectId(5df242bd3044cc4f089cfa09),"[{""$oid"":""5df204961d448316e0c69998""},{""$oid"":""...",LECTURE

In [379]:
#Print all columns
df.columns.tolist()

['_id', 'Users', 'Type']

In [380]:
#Set and display headers by Index first
from tabulate import tabulate 
df.set_index(['Type', 'Users'])

print(tabulate(df, headers='keys', tablefmt='psql'))

+----+------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------+
|    | _id                                | Users                                                                                                                                                                                                                                                                                                                                                                     | Type    |
|----+------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------|
|  0 | ObjectId(5df172e2cd46ec15c3fbe987) | [{"$oid":"5df204961d448316e0c69998"},{"$oid":"5df204961d448316e0c69998"},{"$oid":"5df204961d448316e0c69998"},{"$oid":"5df204961d448316e0c69998"},{"$oid":"5df204961d448316e0c69998"}]                                                                                                                                                                                     | PARTY   |
|  1 | ObjectId(5df20b9e1d448316e0c6999d) | [{"$oid":"5df204961d448316e0c69998"},{"$oid":"5df204961d448316e0c69998"},{"$oid":"5df204961d448316e0c69998"},{"$oid":"5df204961d448316e0c69998"},{"$oid":"5df204961d448316e0c69998"},{"$oid":"5df204961d448316e0c69998"}]                                                                                                                                                 | MEETING |
|  2 | ObjectId(5df20f0e1d448316e0c699a4) | [{"$oid":"5df204961d448316e0c69998"},{"$oid":"5df204961d448316e0c69998"}]                                                                                                                                                                                                                                                                                                 | PARTY   |
|  3 | ObjectId(5df20fc11d448316e0c699a5) | []                                                                                                                                                                                                                                                                                                                                                                        | LECTURE |
|  4 | ObjectId(5df230123044cc4f089cfa06) | [{"$oid":"5df204961d448316e0c69998"},{"$oid":"5df204961d448316e0c69998"},{"$oid":"5df204961d448316e0c69998"}]                                                                                                                                                                                                                                                             | LECTURE |
|  5 | ObjectId(5df242bd3044cc4f089cfa09) | [{"$oid":"5df204961d448316e0c69998"},{"$oid":"5df204961d448316e0c69998"},{"$oid":"5df204961d448316e0c69998"},{"$oid":"5df204961d448316e0c69998"},{"$oid":"5df204961d448316e0c69998"},{"$oid":"5df204961d448316e0c69998"},{"$oid":"5df204961d448316e0c69998"},{"$oid":"5df204961d448316e0c69998"},{"$oid":"5df204961d448316e0c69998"},{"$oid":"5df204961d448316e0c69998"}] | LECTURE |
+----+------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------+

In [381]:
df = df.groupby(by='Type', as_index=False).agg({'Users' : pd.Series.nunique})
print(df)

      Type  Users
0  LECTURE      3
1  MEETING      1
2    PARTY      2

In [382]:
# If we need it, we can spew out an HTML file at the path and add it into a body or somewhere to have it displayed. 
df.to_html('analyzedData.html')

In [383]:
# Quick little nifty thing that parses our .csv into .json ;-) 
csvFilePath = 'eventDump.csv'
jsonFilePath = 'eventdata.json'

data = {}
with open(csvFilePath) as csvFile:
    csvReader = csv.DictReader(csvFile)
    for rows in csvReader:
        id = rows['_id']
        data[id] = rows
        
with open(jsonFilePath, 'w') as jsonFile:
    jsonFile.write(json.dumps(data, indent=4)) 
    
# Could use jQuery's $.getJSON function if we wanted to smack it into an HTML body. 
# or HTML DOM function: document.getElementByID('');